<%- include('includes/head.ejs') %>
<body class="font02">
    <%- include('includes/header.ejs') %>
    <div class="container p-4">
        <%- about %>
    </div>
    <%- include('includes/footer.ejs') %>
    <%- include('includes/scripts.ejs') %>
</body>