<%- include('includes/head.ejs') %>

    <body class="font02">
        <%- include('includes/header.ejs') %>
            <div class="container">
                <div class="offcanvas font03 offcanvas-start border-0 shadow-0 overflow-y-auto" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel"
                    data-bs-scroll="true" data-bs-backdrop="false" style="background-color: #fdfeff;">
                    <div class="offcanvas-header">
                        <h3 class="offcanvas-title fw-bold" id="offcanvasExampleLabel">Index</h3>
                        <button type="button" class="btn-close d-lg-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div id="index">
                            <ul class="nav-pills">
                                <% headers.forEach(header => { %>
                                    <li><a href="#<%= header.id %>"><%= header.text %></a></li>
                                <% }); %>
                            </ul>
                        </div>
                    </div>
                </div>

                <div id="content">
                    <%- doc %>
                    <div class="d-lg-none text-end fixed-bottom p-5">
                        <button type="button" class="btn btn-primary btn-floating btn-lg" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                            <i class="fa-solid fa-bars"></i>
                        </button>
                    </div>
                </div>
            </div>
            <%- include('includes/footer.ejs') %>
            <%- include('includes/scripts.ejs') %>
    </body>