<%- include('includes/head.ejs') %>
<body class="font02">
    <%- include('includes/header.ejs') %>
    <div class="container">
        <h1><%= title %></h1>
        <p>Coming soon...</p>
    </div>
    <%- include('includes/footer.ejs') %>
    <%- include('includes/scripts.ejs') %>
</body>