<%- include('includes/head.ejs') %>
<body class="font02">
    <%- include('includes/header.ejs') %>
    <div class="container">
        <%- support %>
        <a href="https://ko-fi.com/G2G7M1GBM" target="_blank" style="padding-left: 1rem">
            <img height="56" style="border: 0px; height: 56px" src="https://storage.ko-fi.com/cdn/kofi5.png?v=3" border="0" alt="Buy Me a Coffee at ko-fi.com" />
        </a>
        
        <div style="padding-bottom: 5rem"></div>        
    </div>
    <%- include('includes/footer.ejs') %>
    <%- include('includes/scripts.ejs') %>
</body>

</html>